
.box{
    display: block;
    width: 90vmin;
    height: 90vmin;
    margin-left: auto;
    margin-right: auto;
}
.square {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: 3px;
    margin-left: 3px;
}
