
.square {
display: inline-block;
height: 80px;
width:  80px;
border: 1px black solid;
text-align: center;
vertical-align: middle;
background-color: white;
color: black;
}

.current_turn {
background-color: yellow;
}
.current_turn:hover {
cursor: pointer;
}
.available {
background-color: pink;
}
